<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hangman_timetosaveyourfriends"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.hangman_timetosaveyourfriends.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hangman_timetosaveyourfriends.PlaySettings"
            android:label="@string/title_activity_play_settings"
            android:parentActivityName="com.example.hangman_timetosaveyourfriends.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangman_timetosaveyourfriends.MainActivity" />
        </activity>
        <activity
            android:name="com.example.hangman_timetosaveyourfriends.Play"
            android:label="@string/title_activity_play"
            android:parentActivityName="com.example.hangman_timetosaveyourfriends.PlaySettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangman_timetosaveyourfriends.PlaySettings" />
        </activity>
        <activity
            android:name="com.example.hangman_timetosaveyourfriends.MyCondemned"
            android:label="@string/title_activity_my_condemned"
            android:parentActivityName="com.example.hangman_timetosaveyourfriends.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangman_timetosaveyourfriends.MainActivity" />
        </activity>
        <activity
            android:name="com.example.hangman_timetosaveyourfriends.Highscores"
            android:label="@string/title_activity_highscores"
            android:parentActivityName="com.example.hangman_timetosaveyourfriends.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hangman_timetosaveyourfriends.MainActivity" />
        </activity>
    </application>

</manifest>
